<div class="ms-main-container loaded" style="opacity: 1;">
      <!-- Preloader -->
      <!-- Header -->
      <header class="ms-header navbar-white" style="position: fixed;">
        <nav class="ms-nav">
          <div class="ms-logo">
            <a href="index.html" data-type="page-transition">
              <div class="logo-dark"><img src="https://strictcity.live/photoblock/madsparrow.me/emily/logo-dark.svg" alt="logo image"></div>
              <div class="logo-light current"><img src="https://strictcity.live/photoblock/madsparrow.me/emily/logo-light.svg" alt="logo image"></div>
            </a>
          </div>
          <button class="hamburger" type="button" data-toggle="navigation">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
          </button>
          <div class="height-full-viewport" style="position: fixed;">
            <ul class="ms-navbar">
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="index.html" data-type="page-transition">
                  <span class="ms-btn">home</span>
                  <span class="nav-item__label">Back to home page</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="albums.html" data-type="page-transition">
                  <span class="ms-btn">albums</span>
                  <span class="nav-item__label">View all our works</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="/details" data-type="page-transition">
                  <span class="ms-btn">gallery</span>
                  <span class="nav-item__label">Interactively disintermediate</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="blog.html" data-type="page-transition">
                  <span class="ms-btn">blog</span>
                  <span class="nav-item__label">Discover fascinating stories</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="about.html" data-type="page-transition">
                  <span class="ms-btn">about</span>
                  <span class="nav-item__label">Learn more about the author</span>
                </a>
              </li>
              <!-- Nav Link -->
              <li class="nav-item">
                <a href="contact.html" data-type="page-transition">
                  <span class="ms-btn">contact</span>
                  <span class="nav-item__label">Get in touch and find us</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Container -->
      <main class="ms-container home-slider">
        <!-- Swiper Slider -->
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
            <!-- Slide -->
            <div class="swiper-slide swiper-slide-active" style="width: 1349px;">
              <div class="slide-inner" data-swiper-parallax="45%" style="transform: translate3d(0%, 0px, 0px); transition-duration: 0ms;">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/2.jpg')"></div>
                <div class="slide-inner--info">
                  <h1>Download free, 

<br>high-resolution images</h1>
<form id="validForm" novalidate="novalidate">
                <div class="row">
                  
                  
                  <div class="form-group col-md-12">
                    <input style="border-radius: 5px; height: 53px;" type="text" name="subject" class="form-control" placeholder="Search free photo's">
                  </div>
                  
                  
                </div>
              </form>
                  
                </div>
              </div>
            </div>
            <!-- Slide -->
            <div class="swiper-slide swiper-slide-next" style="width: 1349px;">
              <div class="slide-inner" data-swiper-parallax="45%" style="transform: translate3d(-45%, 0px, 0px); transition-duration: 0ms;">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/1.jpg')">
                </div>
                <div class="slide-inner--info">
                  <h1>The Power<br>of Dreams</h1>
                  <a href="/details" data-type="page-transition" class="ms-btn--slider">take a look</a>
                </div>
              </div>
            </div>
            <!-- Slide -->
            <div class="swiper-slide" style="width: 1349px;">
              <div class="slide-inner" data-swiper-parallax="45%" style="transform: translate3d(-45%, 0px, 0px); transition-duration: 0ms;">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/3.jpg')">
                </div>
                <div class="slide-inner--info">
                  <h1>romantic<br>chipping</h1>
                  <a href="/details" data-type="page-transition" class="ms-btn--slider">take a look</a>
                </div>
              </div>
            </div>
            <!-- Slide -->
            <div class="swiper-slide" style="width: 1349px;">
              <div class="slide-inner" data-swiper-parallax="45%" style="transform: translate3d(-45%, 0px, 0px); transition-duration: 0ms;">
                <div class="overlay"></div>
                <div class="slide-inner--image" style="background-image: url('https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/4.jpg')">
                </div>
                <div class="slide-inner--info">
                  <h1>What<br>the Fog?</h1>
                  <a href="/details" data-type="page-transition" class="ms-btn--slider">take a look</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-nav-btn">
            <div class="swiper-button-prev swiper-button-white swiper-button-disabled">prev</div>
            <div class="swiper-button-next swiper-button-white">next</div>
          </div>
          <!-- Pagination -->
          <div class="expanded-timeline">
            <div class="expanded-timeline__counter"><span>1</span><span>4</span></div>
            <div class="swiper-pagination swiper-pagination-progressbar"><span class="swiper-pagination-progressbar-fill" style="transform: translate3d(0px, 0px, 0px) scaleX(0.25) scaleY(1); transition-duration: 1000ms;"></span></div>
            <div class="scroll-message">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.5 15.98" class="scroll-svg"><title>Asset 1</title><g>
              <g data-name="Layer 1"><polygon fill="#fff" points="0 4.64 0.71 5.34 3.85 2.2 3.85 15.98 4.85 15.98 4.85 2.2 8 5.34 8.71 4.64 4.35 0.29 0 4.64"></polygon><polygon fill="#fff" points="11.65 0 11.65 13.79 8.5 10.64 7.79 11.35 12.15 15.7 16.5 11.35 15.79 10.64 12.65 13.79 12.65 0 11.65 0"></polygon></g></g></svg>Scroll
            </div>
          </div>
        </div>
      </main>
<div class="ms-section__block">
          <div id="albums">
            <!-- Sort -->
            <h3>Stunning stock images, perfect for blogs and websites</h3>
<ul class="filtr-btn">
              <li data-filter="all" class="active"><h6>Popular categories: </h6></li>
              <li data-filter="1"><h6>fashion</h6></li>
              <li data-filter="2"><h6>urban</h6></li>
              <li data-filter="3"><h6>sport</h6></li>
              <li data-filter="4"><h6>expression</h6></li>
            </ul>
            
            <div class="filtr-container row" style="padding: 0px; position: relative; height: 738.327px;">
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="1" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>The Drive of your life</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/2a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="2" style="opacity: 1; transform: scale(1) translate3d(392.203px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>The Power of Dreams</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/1a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="2" style="opacity: 1; transform: scale(1) translate3d(784.406px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>romantic chipping</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/3a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="3" style="opacity: 1; transform: scale(1) translate3d(0px, 246.109px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>What the Fog?</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/4a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="4" style="opacity: 1; transform: scale(1) translate3d(392.203px, 246.109px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>project #36</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/5a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="4" style="opacity: 1; transform: scale(1) translate3d(784.406px, 246.109px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>adidas: 360°</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/6a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="3" style="opacity: 1; transform: scale(1) translate3d(0px, 492.218px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>People of India</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/7a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="4" style="opacity: 1; transform: scale(1) translate3d(392.203px, 492.218px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>Soho House Barcelona</h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/8a.jpg)"></div>
                </a>
              </div>
              <!-- Album item -->
              <div class="album-item col-md-4 filtr-item" data-category="1" style="opacity: 1; transform: scale(1) translate3d(784.406px, 492.218px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
                <a href="/details" data-type="page-transition">
                  <div class="album-item__overlay">
                    <span class="album-item__cover"></span>
                    <h5>With Charleen </h5>
                  </div>
                  <div class="album-item__img" style="background-image: url(https://strictcity.live/photoblock/madsparrow.me/emily/assets/images/9a.jpg)"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
<footer>
        <div class="ms-footer">
          <div class="copyright">Copyright © 2017. Design by <a href="https://twitter.com/sammyngn">SammyNGN</a></div>
          <ul class="socials">
            <li><a href="#" class="socicon-facebook"></a></li>
            <li><a href="#" class="socicon-twitter"></a></li>
            <li><a href="#" class="socicon-instagram"></a></li>
            <li><a href="#" class="socicon-youtube"></a></li>
          </ul>
        </div>
      </footer>
      <!-- /Container -->
    </div>